
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,200..800;1,200..800&family=Radio+Canada+Big:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container{
    /* width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; */
}
.calculator{
    background: #1C1C1C;
    height: 38rem;
    width: 29rem;
    border-radius: 10%;
}
.container h1{
    font-family: "Anton", sans-serif;
    font-size: 3.5rem;
    color: #000000;
    position: relative;
    top: -20px;
}
.screen input{
    background-color: #505050;
    color: #ffff;
    height: 5.25rem;
    width: 75%;
    padding: 0 5%;
    border-radius: 15rem;
    border: none;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 3rem;
    text-align: right;
    margin-top: 2rem;
}
.screen input ::placeholder{
    opacity: 5;
}
.screen input:focus{
    outline: none;
    

}

.buttons{
    background: transparent;
    padding: 1.80rem 1rem;

}
button{
    
    cursor: pointer;
    border: none;
    background: #393939;
    border-radius: 50%;
    width: 4.75rem;
    height: 4.75rem;
    margin: 0.35rem;
    font-family: "Radio Canada Big", sans-serif;
    /* font-family: "Karla", sans-serif; */
    font-size: 2.25rem;
    color: #ffff ;
}
.orange-{
    background-color: #FE980D;
}
.fff-{
    background-color: #A8A8A8;
    color: #000;
}
.width-0{
    border-radius: 15rem;
    width: 10.5rem;
}